
body {
  font-family: "Rubik"
}
.cabecera {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vh;
}
.logo img {
  width: 155px;
  margin-top: 10px;
}
.lista {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.lista li {
  display: inline;
  margin-right: 20px;
  margin-bottom: 13px;
  font-size: 16px;
}
.lista a {
  color: #4a4a4a;
  text-decoration: none;
}
.principal {
  background-color: #3CDBC0;
  width: 100vh;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
}
